/* Everything */
body {
  background-color: rgb(184, 195, 211);
}

/* Body */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Title */
.title {
  margin-top: 105px;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Pacifico';
}

/* Mode */
.mode {
  font-size: 20px;
  font-family: 'Quicksand';
  color: black;
}

/* Sketch Board */
.board {
  width: 300px;
  height: 300px;
  display: grid;
  margin-top: 20px;
  border-radius: 20px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.black-btn {
  background-color: black;
  color: #fff;
}

.white-btn {
  background-color: #fff;
  color: black;
}

.silver-btn {
  background-color: silver;
  color: black;
}

.random-btn {
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  color: white;
}

/* Input */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* Rules */
.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-family: 'Quicksand';
  color: black;
}

.dbl-Click {
  margin-top: 20px;
}
