/* Everything */
body {
  background-color: rgb(184, 195, 211);
}

/* Body */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sketch Board */
.board {
  width: 300px;
  height: 300px;
  display: grid;
  margin-top: 20px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

/* Input */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* Rules */
.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.dbl-Click {
  margin-top: 20px;
}
